.about__block {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.about__img {
    margin-top: 5px;
}

.about__info {
    margin-left: 60px;
    width: 530px;
}

.about__info > p {
    font-size: 16px;
    line-height: 26px;
    color: #535353;
    margin-bottom: 16px;
}

.about__title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #4d5a6b;
}

.textarea {
    border: 1px solid #d1d1d1;
    width: 100%;
}

.contacts__form {
    max-width: 620px;
}

.form-items {
    display: flex;
}

@media(max-width: 500px) {
    .about__block {
        flex-direction: column;
    }

    .about__img {
        max-width: 100%;
    }

    .about__info {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contacts__form {
        max-width: 100%;
    }

    .form {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form > input {
        max-width: 100%;
    }

    .contacts__form > h3 {
        text-align: center;
    }

    .form__item {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form__item > label {
        margin-top: 10px;
    }

    .contacts {
        margin-top: 50px;
    }

    .contacts__info {
        text-align: center;
        margin-left: 0;
    }
}
