.info {
    margin-top: 30px;
}
.info__blocks {
    display: flex;
    justify-content: space-between;
}

.info__block-left {
    display: flex;
    flex-direction: column;
}

.info-images {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

.info-small {
    margin-top: 10px;
    max-width: 800px;
    max-height: 300px;
    min-height: 200px;
    cursor: pointer;
}

.info__block-right {
    display: flex;
    flex-direction: column;
}

.info__block-right-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info__block-right {
    width: 500px;
    max-width: 500px;
}

.info__table-right {
    max-width: 250px;
    text-align: end;
}

@media(max-width: 500px) {
    .info__blocks {
        flex-direction: column;
    }

    .info__block-right {
        max-width: 100%;
    }

    .info__img-large {
        max-width: 320px;
    }

    .info {
        margin-top: 145px;
    }

    .info__block-left {
        justify-content: center;
        align-items: center;

    }

    .places {
        margin-top: 130px;
    }
}
